<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentaciòn.Properties.Settings.cn" connectionString="Data Source=sources.database.windows.net;Initial Catalog=Proyecto_Restaurante;Persist Security Info=True;User ID=Administrador;Password=Sources01081997;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>